*{
  margin: 0;
  font-family: 'Secular One';
}


.navbar{
  padding: 15px;
  color: white;
  background-color:#272829;
  display: flex;
}

.header{
  font-size: 35px;
  font-weight: bolder;
}

.nav-options{
  margin-left: 50%;
  margin-top: 10px;
  
  }

.nav-options a{
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: white;
}


.nav-options a:hover{
  color: #272829;
  background-color: white;
  border-radius: 10px;
}

.section{
  background-image: url(camera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 100vh;
}

.main-text{
  padding-top: 10%;
  color: white;
  font-size: 60px;
}

button{
  height: 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  margin-right: 10px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width:426px){

  .navbar{
    display: block;
    width: 100%;
    
  }
  .header{
    text-align: center;
    
  }
  .nav-options a{ 
    font-size: 15px;
    padding: 5px;
   
  }

  .nav-options{
    margin-left: 35px;
    margin-top: 0;
  }

  .section{
    background-image: url(camera\ 2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100vh;
    width:107.5%;
    
  }

  .main-text{
    padding-top: 60%;
    color: white;
    font-size: 35px;
  }

  footer{
    width: 107.5%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
  }

  button{
    margin-top: 20px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-right: 10px;
  }
  
}